section.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
}

.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 50%; /* center vertically */
  transform: translate(0, -50%); /* center vertically */
}

.filters button:hover {
  /* change opacity to 90% when the mouse is on the button; */
  opacity: 90%;
}
